[Desktop Entry]
Name=Galaxy Buds Manager
Exec=GalaxyBudsClient
Icon=/usr/share/icons/hicolor/144x144/apps/GalaxyBudsClient.png
Type=Application
Categories=Utility;
Keywords=samsung;galaxy;buds;headphone;bluetooth;